.metadata/
argTest/.classpath
argTest/.project
argTest/.settings/org.eclipse.core.resources.prefs
argTest/.settings/org.eclipse.jdt.core.prefs
RemoteSystemsTempFiles/.project
CollectionTest/.classpath
CollectionTest/.project
CollectionTest/.settings/org.eclipse.jdt.core.prefs
CollectionTest/bin/
argTest/bin/

ThreadTest/.classpath
ThreadTest/.project
ThreadTest/.settings/org.eclipse.core.resources.prefs
ThreadTest/.settings/org.eclipse.jdt.core.prefs
JavaIOTest/.project
JavaIOTest/.gitignore
JavaIOTest/.classpath
JavaIOTest/.settings/org.eclipse.core.resources.prefs
JavaIOTest/.settings/org.eclipse.jdt.core.prefs
JavaNetworkTest/.settings/
JavaNetworkTest/.project
JavaNetworkTest/.gitignore
JavaNetworkTest/.classpath
